{% extends "base_generic.html" %}

{% block content %}

<h1 align="center">Home Page</h1>
<p>Welcome to <em>Barnet Education Arts Trust Website</em>, a draft website developed as a start to computer science coursework</p>

You are logged in as a librarian

{% if can_reserve %}
  This user can make reservations
{% else %}
  This user can only browse
{% endif %}

{% if perms.catalog.can_self_reserve %}

{% endif %}




<h2>Music Details</h2>
<p>The music office has the following record counts:</p>
<ul>
<li><strong>Music:</strong> {{ num_music }}</li>
<li><strong>Amount of music owned:</strong> {{ num_instances }}</li>
<li><strong>Amount of music available:</strong> {{ num_instances_available }}</li>
<li><strong>Composers:</strong> {{ num_composers }}</li>

</ul>
<div id="calendar"></div>

<link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css' rel='stylesheet' />
<script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
      defaultView: 'dayGridMonth',
      defaultDate: '{{ calendarStartDate}}',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
  

      events: [
      {% for event in event_list %}
        {{event|safe}}
      {% endfor %}
      ]
    });

    calendar.render();
  });

</script>

{% endblock %}