{% extends "base_generic.html" %}

{% block content %}

<h1 align="center">Home Page</h1>
<p>Welcome to <em>Barnet Education Arts Trust Website</em>, a draft website developed as a start to computer science coursework</p>

You are logged in as a member
<!--
{% if can_reserve %}
  This user can make reservations
{% else %}
  This user can  browse
{% endif %}

{% if perms.catalog.can_self_reserve %}
  CAN SELF RESERVE THROUGH TEMPLATE
{% endif %}
-->



<h2>Music Details</h2>
<p>The music office has the following record counts:</p>
<ul>
<li><strong>Music:</strong> {{ num_music }}</li>
<li><strong>Amount of music owned:</strong> {{ num_instances }}</li>
<li><strong>Amount of music available:</strong> {{ num_instances_available }}</li>
<li><strong>Composers:</strong> {{ num_composers }}</li>

</ul>
<iframe src="https://titanembeds.com/embed/642070935620550666?css=42" height="300" width="400" frameborder="0" theme=MetroEdge></iframe>



{% endblock %}