{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ music.title }}</h1>

<p><strong>Composer:</strong> <a href="{% url 'composer_detail' music.composer.pk %}">{{ music.composer }}</a></p>
<p><strong>Summary:</strong> {{ music.summary }}</p>
<p><strong>ISBN:</strong> {{ music.isbn }}</p>
<p><strong>Language:</strong> {{ music.language }}</p>
<p><strong>Genre:</strong> {% for genre in music.genre.all %}{{genre}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    <form action="{%url 'borrow_action' %}" method="post">
    {% csrf_token %}
    <table>
        <thead></thead>
        <tbody>
            {% for copy in music.musicinstance_set.all %}
            <tr>
                <td>{{copy.id}}</td>
                <td><button type="submit" name="reservebutton" value="{{copy.id}}">Reserve</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}