{% extends "base_generic.html" %}

{% block content %}

<h1>Title:"Test3" {{ music.title }}</h1>

<p><strong>Composer:</strong> <a href="{% url 'composer_detail' music.composer.pk %}">{{ music.composer }}</a></p>
<p><strong>Summary:</strong> {{ music.summary }}</p>
<p><strong>ISBN:</strong> {{ music.isbn }}</p>
<p><strong>Language:</strong> {{ music.language }}</p>
<p><strong>Genre:</strong> {% for genre in music.genre.all %}{{genre}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

<div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>
    {% csrf_token %}
    <table>
        <thead></thead>
        <tbody>
            {% for copy in reserved %}
            <tr>
                <td>{{copy.id}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </form>
</div>
{% endblock %}
